.center-point {
  height: 1px;
  width: 1px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  -webkit-transform: translate(24vh, 22vh);
}

.circle-points{
  height: 3vh;
  width: 3vh;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
}

.BC {
  background-color: orange;
}

.R {
  background-color: yellow;
}

.U {
  background-color: green;
}

.S {
  background-color: blue;
}

.EC {
  background-color: purple;
}

.Cur {
	width: 5vh;
	height: 5vh;
    z-index: 1000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  display: inline-block;
  position: absolute;
  top: -1vh;
  right: -4vh;


/*Sets up the animation duration, timing-function (or easing)
and iteration-count.*/

  -webkit-animation: orbit 40s linear infinite;
     -moz-animation: orbit 40s linear infinite;
       -o-animation: orbit 40s linear infinite;
          animation: orbit 40s linear infinite;
}

.sun-icon{
  transform: translateX(-1.7vh) translateY(-1.8vh);
}

.inner-circle {
  position: absolute;
  /*display: none;*/
  width: 50vh;
  height: 50vh;
  border: 2px solid black;/
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

  .header{
    /*background-color: yellow;*/
    height: 10vh;
  }

  .left-bar{
    /*background-color: green;*/
  }

  .right-bar{
    /*background-color: purple;*/
  }

  .circle-container{
    height: 50vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
  }
#enter-city{
  position: relative;
  z-index: 11;
  left: -38%;
  top: 1px;
  color: #7B7B7B;
  cursor:pointer;
  width: 0;

}
#enter-date {
  position: relative;
  z-index: 10;
  left: -38%;
  top: 1px;
  color: #7B7B7B;
  cursor:pointer;
  width: 0;
}
#start-button {
  /*box-shadow: inset 0px 1px 0px 0px #45D6D6;*/
  border: 1px solid #88898c;
  text-decoration: none;
  position: relative;
  margin: 20 -40px;
  min-width: 6em;
  min-height: 3em;
  padding: 2%;
  left: 35%;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #bec0c4;
}
#start-button:hover {
  background-color:#fff44f;
}
