.center-point {
  height: 1px;
  width: 1px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  -webkit-transform: translate(24vh, 22vh);
}

.circle-points{
  height: 3vh;
  width: 3vh;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
}

.BC {
  background-color: orange;
}

.R {
  background-color: yellow;
}

.U {
  background-color: green;
}

.S {
  background-color: blue;
}

.EC {
  background-color: purple;
}

.Cur {
	width: 5vh;
	height: 5vh;
	background: red;
    z-index: 1000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  display: inline-block;
  position: absolute;
  top: -1vh;
  right: -4vh;


/*Sets up the animation duration, timing-function (or easing)
and iteration-count.*/

  -webkit-animation: orbit 20s linear infinite;
     -moz-animation: orbit 20s linear infinite;
       -o-animation: orbit 20s linear infinite;
          animation: orbit 20s linear infinite;
}

.inner-circle {
  position: absolute;
  /*display: none;*/
  width: 50vh;
  height: 50vh;
  border: 2px solid black;/
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

  .header{
    /*background-color: yellow;*/
    height: 30vh;
  }

  .left-bar{
    /*background-color: green;*/
  }

  .right-bar{
    /*background-color: purple;*/
  }

  .circle-container{
    /*border: 2px solid black;*/
    /*background-color: grey;*/
    height: 50vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
  }
