html, body {
  height: 100%;
}

/*START INNER CIRCLE:*/
.inner-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/*END INNERCIRCLE:*/

/*START OUTER ORBITING CIRCLE:*/
.orbit-circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: absolute;
  left: 50%;
  top: 50%;

/*Sets up the animation duration, timing-function (or easing)
and iteration-count.*/

  -webkit-animation: myOrbit 20s linear infinite; /* Chrome, Safari 5 */
     -moz-animation: myOrbit 20s linear infinite; /* Firefox 5-15 */
       -o-animation: myOrbit 20s linear infinite; /* Opera 12+ */
          animation: myOrbit 20s linear infinite; /* Chrome, Firefox 16+,IE 10+, Safari 5 */
}

/*Set up the keyframes to describe the begining and end states of
the animation.The browser will interpolate all the frames between these
points.*/

@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(250px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(250px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(250px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(250px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(250px) rotate(-360deg); }
}
/*END OUTER ORBITING CIRCLE:*/

/*START ANIMATED BACKGROUND:
MATH NEEDED: we could time the 'animation: pulse 20s [20sec = 10sec blue, 10 sec red] infinite [infinite loop]; to sunrise/sunset
*/
.background {#003366
  width: 100%;
  height: 100%;
  animation: pulse 20s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001a33;
  }
  30% {
    background-color: #938CA6;
  }
  75% {
    background-color: #fd5e53;
  }
  100% {
    background-color:  #fff44f;
  }
}

/*END ANIMATED BACKGROUND:*/
